{% extends 'LocalLibrary/base_generic.html' %}

{% block content %}

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Language</th>
      </tr>
    </thead>
    <tbody>
        
        {% for book in book_list %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td><a href="{{book.get_absolute_url}}">{{ book.title }}</a></td>
            <td><a href="{{ book.author.get_absolute_url }}">{{ book.author }}</a></td>
            <td>{{ book.language }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4"><i>There is no book available in the library</i></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

        
    
  
{% endblock content %}