{% extends 'LocalLibrary/base_generic.html' %}

{% block content %}

{% if books %}
    
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Language</th>
      </tr>
    </thead>
    <tbody>
        
        {% for book in books %}

        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.language }}</td>
          </tr>
            
        {% endfor %}
            
    </tbody>
  </table>
        
{% else %}
    <h2>No books available</h2>
{% endif %}
    
  
{% endblock content %}