{% extends 'LocalLibrary/base_generic.html' %}

{% block content %}

<div class="card text-center">
    <div class="card-header">
      ---
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ object }}</h5>
      <p class="card-text">{{ object.date_of_birth }} - {{ object.date_of_death|default:"" }}</p>
    </div>
    <h3 class="mb-5">Books</h3>
        
        {% for book in author.book_set.all %}

        <div>
            <h5 class="text-start ms-3"><a href="{{ book.get_absolute_url }}">{{ book.title }}</a> (#{{ book.bookinstance_set.count }})</h5>
            <p class="text-start ms-3 w-75">{{ book.summary }}</p>
        </div>
            
        {% endfor %}
            
    <div class="card-footer text-body-secondary">
     
    </div>
  </div>
  
{% endblock content %}