{% extends 'LocalLibrary/base_generic.html' %}

{% block content %}

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Date of Birth</th>
        <th scope="col">Date of Death</th>
        
        {% if perms.LocalLibrary.delete_author %}
          <th scope="col">Action</th>
        {% endif %}
          
      </tr>
    </thead>
    <tbody>
        
        {% for author in author_list %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td><a href="{{ author.get_absolute_url }}">{{ author.first_name }}</a></td>
            <td><a href="{{ author.get_absolute_url }}">{{ author.last_name }}</a></td>
            <td>{{ author.date_of_birth }}</td>
            <td>{{ author.date_of_death|default:"-" }}</td>
            {% if perms.LocalLibrary.delete_author %}
              <td>
                <div class="dropdown">
                  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Action
                  </button>
                  <ul class="dropdown-menu">
                    <li class="dropdown-item"
                      {% if not perms.LocalLibrary.update_author %}
                        disabled
                      {% endif %}
                    >
                      <a href="{% url 'LocalLibrary:author-update' author.id %}">Update</a>
                    </li>
                    <li class="dropdown-item"
                      {% if not perms.LocalLibrary.delete_author %}
                        disabled
                      {% endif %}
                    >
                      <a href="{% url 'LocalLibrary:author-delete' author.id %}" class="text-danger">Delete</a>
                    </li>
                  </ul>
                </div>
              </td>
            {% endif %}
        </tr>
          
        {% empty %}
        <tr>
            <td colspan="4"><i>There is no author available</i></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

        
    
  
{% endblock content %}