{% extends 'LocalLibrary/base_generic.html' %}

{% block content %}

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th>Borrower</th>
        <th scope="col">Due back</th>
        <th>Renew</th>
      </tr>
    </thead>
    <tbody>
        
        {% for bookinstance in bookinstance_on_loan_list %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td><a href="{{bookinstance.book.get_absolute_url}}">{{ bookinstance.book.title }}</a></td>
            <td>{{ bookinstance.borrower.username }}</td>
            <td>
                <a href="{{ book.author.get_absolute_url }}" class="
            {% if bookinstance.is_overdue %}
                text-danger
            {% endif %}
                ">{{ bookinstance.due_back }}
                </a>
            </td>
            <td><a href="{% url 'LocalLibrary:renew-book-librarian' bookinstance.id%}"><h3><i class="bi bi-arrow-repeat"></i></h3></a></td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4"><i>No book on loan</i></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

        
    
  
{% endblock content %}